html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    line-height: 2;
}

li {
    display : inline;
}

nav {
    height: 100%;
    vertical-align: middle;
    display: flex;
}

header {
    background-color: #f2f3f5;
    height: 50px;
    text-align: center;
    border-bottom: 1.5px solid #dcdcde;
}

body {
    margin: 0px;
}
.ul_header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    width: 33%;
}

.ul_last {
    display: block;
    padding-top: 9px;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: large;
}

.a_logout {
    font-size: 0.9rem;
}

.li_right {
    float: right !important;
}

a:link {
    color: #1a202c;
}
a:visited {
    color: #1a202c;
}
a:hover {
    color: #718096;
}

table {
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
    margin: auto;
}

th {
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    background-color: #4a5568;
    border-bottom: 2px solid white;
    text-align: left;
}

td {
    font-size: 16px;
    background-color: #f2f3f5;
    color: #1a202c;
    border-bottom: 2px solid white;
}

.div_table {
    margin: 30px 10px 10px 10px;
}

.random_text {
    color: #1a202c;
    font-weight: normal;
    font-style: italic;
}
